//variables and mixins//////////////////////////////
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 25em;   // 400px;
@mixin center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin gradient-text{
    display: inline-block;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
}

 
//reset rules ///////////////////////////////////////

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    @media only screen and (max-width: $bp-large){
        font-size: 56.25%;
    }
    @media only screen and (max-width: $bp-medium){
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-small){
        font-size: 43.75%;
    }
    @media only screen and (max-width: $bp-smallest){
        font-size: 37.50%;
    } 
}
body{
    font-family: 'Krona One', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    --bg-color: #0f1011;
    overflow-x: hidden;
}
.home-colors{
    --primary-color: #233bf9; 
    --primary-color-light: #05f1ff;
}
.work-colors{
    --primary-color-light: #fe8c00;
    --primary-color: #f83600;
}
.contact-colors{
    --primary-color-light: #e4e8f0;
    --primary-color: #757F9A; 
}
.container{ 
    max-width: 114rem;
    margin: auto;
    @media only screen and (max-width: $bp-large){
        max-width: 85rem;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 70rem;
    }
    @media only screen and (max-width: $bp-small){
        max-width: 55rem;
    }
    @media only screen and (max-width: $bp-smallest){
        max-width: 45rem;
    }
}
section{
    position: absolute;
    top: 0;
    left: 0; 
    min-height: 100vh;
    width: 100vw;
}
::selection{
    color: #fff; 
} 
.list-open{
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%, -50%) scale(1) !important;

}
.background-open{
    width: 100% !important;
    height: 100% !important;
    border-bottom-left-radius: 0% !important;
    
}
.nav-toggler-active{ 
    background-image: linear-gradient(to right, white, white) !important;
}
.brand-active{ 
    background-image: linear-gradient(to right, white, white) !important; 
}
@keyframes leftToRightMove {
    0%{
        left: 0rem;
    }
    50%{ 
        left: 3.5rem; 
    }
    100%{
        left: 0rem;
    }
}

.hide-element{
    transform: scale(.5) !important;
    opacity: 0 !important;
}
.home .about.show-box, .work .work-container.show-box, .contact .contact-box.show-box{
    transition: opacity .5s .6s;
    opacity: 1;
    visibility: visible;
}