@import 'base.scss';

a, h1, p{
    @include gradient-text;
}
a:hover{
    opacity: .7;
}
.nav{
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-list{ 
        opacity: 0;
        list-style: none;
        @include center-box; 
        position: fixed;
        left: -50%; 
        text-align: center;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 20;
        overflow: hidden; 
        
        & li{ 
            font-size: 8rem;
            letter-spacing: 1rem;  
            text-transform: uppercase; 
            margin: 5rem 2rem;
            padding: 1rem; 
            transition: all .3s ease;  
            display: inline-block;
            cursor: pointer;

            @media only screen and (max-width: $bp-small){
                font-size: 6.5rem;
            }
            @media only screen and (max-width: $bp-smallest){
                font-size: 5.5rem; 
            }
            @media only screen and (max-width: 18.75em){
                font-size: 4.5rem;
            }
            &:hover{
                background-color: #fff;
                color: var(--primary-color);
                transform: rotate(-5deg);
            }
        } 

    } 
    & .background{
        background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        position: absolute;
        top: -8rem;
        right: -8rem;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        z-index: 10;
        
    }  
    &-brand{
        @include gradient-text;
        font-size: 3.5rem;
        text-transform: capitalize;
        letter-spacing: 3px; 
        font-family: 'Krona One', sans-serif;
        z-index: 20;
    }
  

    &-toggler{
        z-index: 20;
        padding: 3rem;
        cursor: pointer;
        & span{
            position: relative;  
            background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
            display: block;
            border-radius: 5px; 
        }
        & .top, & .bottom{
            width: 3.5rem; 
            height: 4px;
            transition: all .2s;
            animation: leftToRightMove 1s ease infinite; 
            @media only screen and (max-width: $bp-small){
                height: 3px;
            }
        }
        
        & .mid{
            margin: 1rem 0;
            width: 7rem;
            height: 5px;
            @media only screen and (max-width: $bp-small){
                height: 3px;
            }
        }
        &:hover{
            &  span{
                animation-play-state: paused;
                opacity: .7;
            }
        }  
    }  
}
.footer{
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 1.4rem; 
   text-transform: capitalize; 
   
}
.home{
    position: relative; 
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='368' height='368' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23233bf9' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23233bf9'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    & .about{
        
        text-align: center; 
        @include center-box;
        top: 55%;
        @media only screen and (max-width: $bp-medium){
            width: 75%;
        }  
        @media only screen and (max-width: $bp-small){
            width: 90%;
        }
        
        & h1{
            font-size: 7rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 6rem;
            letter-spacing: 1.2rem;
            
            @media only screen and (max-width: $bp-large){
                font-size: 5rem;
            }
            @media only screen and (max-width: $bp-small){
                font-size: 4.5rem;
            }
            @media only screen and (max-width: $bp-smallest){
                font-size: 3.5rem; 
            }
        }
         
        & p{
            font-size: 2.5rem;
            letter-spacing: 1px;
            position: relative;
            word-spacing: 4px;  
            line-height: 1.4;
            @media only screen and (max-width: $bp-small){
                font-size: 2rem;
                word-spacing: 2px; 
            }  
                    
        } 
        & .skills{
            margin-top: 6rem;  
            & span{ 
                display: inline-block; 
                background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
                margin: 2.2rem;
                padding: 1.2rem 2rem;
                text-transform: uppercase; 
                transition: all .2s ease-in-out;
                backface-visibility: hidden;
                &:hover{ 
                    transform: rotate(-5deg) scale(1.1);                
                }
            } 
        }
        
        
    }
    
    
}   
.work{
    --primary-color-light: #fe8c00;
    --primary-color: #f83600;
    position: relative; 
    min-height: 100vh;
    text-align: center;
    overflow: hidden; 
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23fe8c00' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f83600'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    
    & h2{
        font-size: 5rem; 
        text-transform: capitalize;
        @include gradient-text; 
        margin: 6rem 0 12rem 0;
        letter-spacing: 1rem;
        @media only screen and (max-width: $bp-large){
            font-size: 4rem;
        }     
        @media only screen and (max-width: $bp-medium){
            margin-top: 4rem;        
        }    
    } 
    &-box{
        width: 80%;
        margin: 0 auto 6rem;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between; 
        & .app{ 
            flex: 0 0 43%; 
            display: flex;   
            margin-bottom: 10rem; 
            
            @media only screen and (max-width: $bp-medium){
                flex: 0 0 100%; 
            }   
            
            &-num{
                font-size: 5rem; 
                margin-right: 4rem;
                @include gradient-text; 
            }
            &-photo{
                overflow: hidden;
                flex: 0 0 70%; 
                text-align: center;
                cursor: pointer; 
                position: relative;
                overflow: hidden;
                & img{
                    width: 100%; 
                    border: 3px solid var(--primary-color-light);
                }  
                & .overlay{
                    position: absolute; 
                    top: -100%; 
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: all .2s;
                }
                &__text{  
                    @include gradient-text;
                    width: 100%;
                    position: absolute;
                    top: 170%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .3s ;
                    & h4{
                        font-size: 2rem; 
                        margin-bottom: 2rem;
                    }
                    & ul{
                        display: flex;
                        flex-wrap: wrap; 
                        justify-content: space-between;
                        padding: 0 4rem;
                        & li{  
                            font-size: 1.4rem;
                            margin: 1rem 1.5rem 1rem 0;  
                        }
                    }
                    & a{
                        font-size: 6rem;
                        font-weight: 700;
                        
                    }
                }
                &:hover{
                    .app-photo__text{
                        top: 50%;        
                    }
                     .overlay{
                        top: 0;
                    }
                } 
            }
        }
    }
}

/* contact section *************************************************************/
.contact{
    --primary-color-light: #D7DDE8;
    --primary-color: #757F9A; 
    position: relative; 
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23757f9a' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23757f9a'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    & .contact-box{
        position: absolute;
        top: 35%;
        left: 10%; 
        @media only screen and (max-width: $bp-medium){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
        }    
        & h2{
            font-size: 8rem; 
            letter-spacing: 1rem;
            @include gradient-text;
            text-transform: capitalize;
        }
        & .mail-img{ 
            position: absolute;
            top: 0;
            right: -45%;
            width: 40%;
            transform: translateY(-50%);
            @media only screen and (max-width: $bp-large){
                width: 30%; 
                right: -29%;
                top: 10%;
            }    
            @media only screen and (max-width: $bp-medium){
                display: none;
            }    
        }
        & .links{
            margin-top: 8rem;
            & .gmail{
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }
            & .others{
                & img{
                    width: 10rem;
                }
            } 
        }
    }
}
