@import 'base.scss';

a, h1, p{
    @include gradient-text;
}
a:hover{
    opacity: .7;
}
.nav{
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    &-list{ 
        opacity: 0;
        list-style: none;
        @include center-box; 
        left: -50%; 
        text-align: center;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 20;
        overflow: hidden; 
        
        & li{ 
            font-size: 8rem;
            letter-spacing: 1rem;  
            text-transform: uppercase; 
            margin: 5rem 2rem;
            padding: 1rem; 
            transition: all .3s ease;  
            display: inline-block;
            cursor: pointer;

            @media only screen and (max-width: $bp-small){
                font-size: 6.5rem;
            }
            @media only screen and (max-width: $bp-smallest){
                font-size: 5.5rem; 
            }
            @media only screen and (max-width: 18.75em){
                font-size: 4.5rem;
            }
            &:hover{
                background-color: #fff;
                color: var(--primary-color);
                transform: rotate(-5deg);
            }
        } 

    } 
    & .background{
        background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        position: absolute;
        top: -8rem;
        right: -8rem;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        z-index: 10;
        
    }  
    &-brand{
        @include gradient-text;
        font-size: 3.5rem;
        text-transform: capitalize;
        letter-spacing: 3px; 
        font-family: 'Krona One', sans-serif;
        z-index: 20;
    }
  /*   & input{
        display: none;
        &:checked +  label  span{
            background-image: linear-gradient(to right,transparent,transparent);
            &::before, &::after{
                top: 0;
                animation-play-state: paused;
                width: 4rem;
                background-image: linear-gradient(to right,white, white);

            }
            &::before{
                transform: rotate(135deg); 
            }
            &::after{
                transform: rotate(-135deg); 
            }
        }
        &:checked ~ .background{
            transform: scale(50);
        }
        &:checked ~ .nav-list{
            left: 50%;
            opacity: 1;
            visibility: visible;
        }
        &:checked ~ .nav-brand{
            background-image: linear-gradient(to right,white, white);
        }
    }     
    & label{
        z-index: 20;
        padding: 2rem;
        cursor: pointer;
        & span{
            position: relative; 
            width: 5rem;
            height: 3px;
            background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
            display: inline-block;
            border-radius: 5px;
            &::after, &::before{
                position: relative;  
                width: 5rem;
                height: 3px;
                background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
                display: inline-block;
                border-radius: 5px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 1rem;
                //left: 1rem;
                width: 3rem; 
                transition: all .2s;
                animation: leftToRightMove 1s ease infinite;
            }
            &::before{
                content: '';
                position: absolute;
                top: -1rem; 
                //left: 1rem; 
                width: 3rem;
                transition: all .2s;
                animation: leftToRightMove 1s ease infinite;
            }
        }
        &:hover{
            &  span::after, &  span::before, &  span{
                animation-play-state: paused;
                opacity: .7;
            }
        }  
    }    */

    &-toggler{
        z-index: 20;
        padding: 2rem;
        cursor: pointer;
        & span{
            position: relative;  
            width: 5rem;
            height: 3px;
            background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
            display: block;
            border-radius: 5px; 
        }
        & .top, & .bottom{
            width: 3rem; 
            transition: all .2s;
            animation: leftToRightMove 1s ease infinite;
        }
       
        & .mid{
            margin: .7rem 0;
        }
        &:hover{
            &  span{
                animation-play-state: paused;
                opacity: .7;
            }
        }  
    }  
}
.footer{
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    font-size: 1.2rem; 
   text-transform: capitalize; 
}
.home{
    position: relative; 
    background-color: var(--bg-color);
    overflow: hidden;
    min-height: 100vh;
    & .about{
        width: 60%;
        margin: 4rem  auto;
        text-align: center;
        @media only screen and (max-width: $bp-medium){
            width: 75%;
        }  
        @media only screen and (max-width: $bp-small){
            width: 90%;
        }
        
        & h1{
            font-size: 7rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 6rem;
            letter-spacing: 1.2rem;
            
            @media only screen and (max-width: $bp-large){
                font-size: 5rem;
            }
            @media only screen and (max-width: $bp-small){
                font-size: 4.5rem;
            }
            @media only screen and (max-width: $bp-smallest){
                font-size: 3.5rem; 
            }
        }
         
        & p{
            font-size: 2.5rem;
            letter-spacing: 1px;
            position: relative;
            word-spacing: 4px;  
            line-height: 1.4;
            @media only screen and (max-width: $bp-small){
                font-size: 2rem;
                word-spacing: 2px; 
            }  
                    
        } 
        & .skills{
            margin-top: 6rem;  
            & span{ 
                display: inline-block; 
                background-image: linear-gradient(to right,var(--primary-color-light),var(--primary-color));
                margin: 0 2rem 2rem 0;
                padding: .6rem 1.4rem;
                text-transform: uppercase;
                transition: all .2s ease-in-out;
                backface-visibility: hidden;
                &:hover{ 
                    transform: rotate(-5deg) scale(1.1);                
                }
            } 
        }
        
        
    }
    
    
}   
.work{
    --primary-color-light: #fe8c00;
    --primary-color: #f83600;
    position: relative; 
    background-color: var(--bg-color);
    min-height: 100vh;
    text-align: center;
    overflow: hidden; 
    @media only screen and (max-width: $bp-medium){
        text-align: left;        
    }    
    & h2{
        font-size: 4rem; 
        text-transform: capitalize;
        @include gradient-text; 
        margin-bottom: 10rem;
        letter-spacing: 1rem;
        @media only screen and (max-width: $bp-large){
            font-size: 3.5rem;
        }     
        @media only screen and (max-width: $bp-medium){
            margin-top: 4rem;        
        }    
    }
    &-box{
        width: 80%;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-between; 
        & .app{ 
            flex: 0 0 40%; 
            display: flex;   
            margin-bottom: 6rem; 
            
            @media only screen and (max-width: $bp-medium){
                flex: 0 0 100%; 
            }   
            
            &-num{
                font-size: 5rem; 
                margin-right: 4rem;
                @include gradient-text; 
            }
            &-photo{
                overflow: hidden;
                flex: 0 0 70%; 
                text-align: center;
                cursor: pointer; 
                position: relative;
                overflow: hidden;
                & img{
                    width: 100%; 
                    border: 3px solid var(--primary-color-light);
                }  
                & .overlay{
                    position: absolute; 
                    top: -100%; 
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: all .2s;
                }
                &__text{  
                    @include gradient-text;
                    width: 100%;
                    position: absolute;
                    top: 150%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .3s ;
                    & h4{
                        font-size: 2rem; 
                        margin-bottom: 2rem;
                    }
                    & ul{
                        display: flex;
                        flex-wrap: wrap; 
                        justify-content: space-between;
                        padding: 0 4rem;
                        & li{  
                            font-size: 1.4rem;
                            margin: 1rem 1.5rem 1rem 0;  
                        }
                    }
                    
                }
                &:hover{
                    .app-photo__text{
                        top: 50%;        
                    }
                     .overlay{
                        top: 0;
                    }
                } 
            }
        }
    }
}

/* contact section *************************************************************/
.contact{
    --primary-color-light: #D7DDE8;
    --primary-color: #757F9A; 
    position: relative; 
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow: hidden;
 
    & .contact-box{
        position: absolute;
        top: 35%;
        left: 10%; 
        @media only screen and (max-width: $bp-medium){
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
        }    
        & h2{
            font-size: 7rem; 
            letter-spacing: 1rem;
            @include gradient-text;
        }
        & .mail-img{ 
            position: absolute;
            top: 0;
            right: -45%;
            width: 40%;
            transform: translateY(-50%);
            @media only screen and (max-width: $bp-large){
                width: 30%; 
                right: -29%;
                top: 10%;
            }    
            @media only screen and (max-width: $bp-medium){
                display: none;
            }    
        }
        & .links{
            margin-top: 8rem;
            & .gmail{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            & .others{
                & img{
                    width: 8rem;
                }
            } 
        }
    }
}
